In [256]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns

# /kaggle/input/titanic/train.csv 
# /kaggle/input/titanic/test.csv 
# /kaggle/input/titanic/gender_submission.csv

In [257]:

df = pd.read_csv('/kaggle/input/titanic/train.csv')
train_df=pd.read_csv('/kaggle/input/titanic/test.csv')

In [258]:

train_df

/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [259]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [260]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [261]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [262]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [263]:
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [264]:
df.Sex.value_counts()

Sex
male      577
female    314
Name: count, dtype: int64

In [265]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [266]:
df.shape

(891, 12)

In [267]:

df.Cabin.mode()

0        B96 B98
1    C23 C25 C27
2             G6
Name: Cabin, dtype: object

In [268]:
# eda process
df['Age'] = df['Age'].fillna(df['Age'].median())

In [269]:
train_df['Age'] = train_df['Age'].fillna(train_df['Age'].median())

In [270]:
# df["Cabin"] = df["Cabin"].fillna(df["Cabin"].mode())

In [271]:
df.Embarked.value_counts()

Embarked
S    644
C    168
Q     77
Name: count, dtype: int64

In [272]:
train_df['Deck'] = train_df['Cabin'].str[0].fillna('U')

In [273]:
df['Deck'] = df['Cabin'].str[0].fillna('U')

In [274]:
df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)

/tmp/ipykernel_36/411043493.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)

In [275]:
df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)

In [276]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Deck
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,U
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,U
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,C
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,U

In [277]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
Deck             0
dtype: int64

In [278]:
df = df.drop(columns=['Cabin'])

In [279]:

train_df = train_df.drop(columns=['Cabin'])

In [280]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,Deck
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S,U
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S,U
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,S,C
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,S,U

In [281]:
df.Deck.value_counts()

Deck
U    687
C     59
B     47
D     33
E     32
A     15
F     13
G      4
T      1
Name: count, dtype: int64

In [282]:
df['Sex'] = df['Sex'].map({'male': 1, 'female': 0})

In [283]:
train_df['Sex'] = train_df['Sex'].map({'male': 1, 'female': 0})

In [284]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    int64
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Embarked     891 non-null    object
 11  Deck         891 non-null    object
dtypes: float64(2), int64(6), object(4)
memory usage: 83.7+ KB

In [285]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,Deck
0,1,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,S,U
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C,C
2,3,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,S,U
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,S,C
4,5,0,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,S,U

In [ ]:
df.SibSp.value_counts()

In [ ]:
df["Family_count"] = df.SibSp+ df.Parch+1

In [ ]:
train_df["Family_count"] = train_df.SibSp+ df.Parch+1

In [ ]:
df.head()

In [ ]:
df = df.drop(columns=['SibSp','Parch'])

In [ ]:
train_df = train_df.drop(columns=['SibSp','Parch'])

In [ ]:
df.head()

In [ ]:
from sklearn.preprocessing import StandardScaler
df['Age'] = StandardScaler().fit_transform(df[['Age']])
df['Fare'] = StandardScaler().fit_transform(df[['Fare']])

In [ ]:
from sklearn.preprocessing import StandardScaler
train_df['Age'] = StandardScaler().fit_transform(train_df[['Age']])
train_df['Fare'] = StandardScaler().fit_transform(train_df[['Fare']])

In [ ]:
df.head()

In [ ]:
df.drop(columns =['PassengerId','Name','Ticket'],inplace = True)

In [ ]:
train_df.drop(columns =['PassengerId','Name','Ticket'],inplace = True)

In [ ]:
df

In [ ]:
df.dtypes

In [ ]:
df = pd.get_dummies(df, columns=['Embarked', 'Deck'], drop_first=True)

In [ ]:
train_df = pd.get_dummies(train_df, columns=['Embarked', 'Deck'], drop_first=True)

In [ ]:
df

In [ ]:
train_df

In [ ]:
df.tail()

In [ ]:
sns.countplot(x='Survived', data=df)
plt.title("Survival Count")
plt.show()

In [ ]:
sns.countplot(x='Sex', hue='Survived', data=df)
plt.title("Survival by Sex")
plt.show()

In [ ]:
sns.countplot(x='Pclass', hue='Survived', data=df)
plt.title("Survival by Passenger Class")
plt.show()

In [ ]:
sns.histplot(df['Age'], bins=30, kde=True)
plt.title("Age Distribution")
plt.show()

sns.boxplot(x='Survived', y='Age', data=df)
plt.title("Age vs Survival")
plt.show()

In [ ]:
sns.histplot(df['Fare'], bins=30, kde=True)
plt.title("Fare Distribution")
plt.show()

sns.boxplot(x='Survived', y='Fare', data=df)
plt.title("Fare vs Survival")
plt.show()

In [ ]:
sns.countplot(x='Family_count', hue='Survived', data=df)
plt.title("Family Size vs Survival")
plt.show()

In [ ]:
df = df.sample(frac=1, random_state=42).reset_index(drop=True)

In [ ]:
from sklearn.model_selection import train_test_split

X = df.drop(columns=['Survived'])
y = df['Survived']

# Train (60%) + Temp (40%)
X_train, X_temp, y_train, y_temp = train_test_split(
    X, y, test_size=0.4, random_state=42, stratify=y
)

# Temp â†’ Validation (20%) + Test (20%)
X_val, X_test, y_val, y_test = train_test_split(
    X_temp, y_temp, test_size=0.5, random_state=42, stratify=y_temp
)

In [ ]:
from sklearn.linear_model import LogisticRegression

# Initialize model
model = LogisticRegression(max_iter=1000)

# Fit on training data
model.fit(X_train, y_train)

In [ ]:
# Predictions for validation and test sets
y_val_pred = model.predict(X_val)
y_test_pred = model.predict(X_test)

In [ ]:
from sklearn.metrics import accuracy_score

val_accuracy = accuracy_score(y_val, y_val_pred)
test_accuracy = accuracy_score(y_test, y_test_pred)

print("Validation Accuracy:", val_accuracy)
print("Test Accuracy:", test_accuracy)

In [ ]:
import numpy as np

example = np.array([1, 0, -1.18, 1.76, 4, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0]).reshape(1, -1)

prediction = model.predict(example)
print("Predicted Survival:", prediction[0])

In [ ]:
import matplotlib.pyplot as plt

# Example accuracies
train_accuracy = model.score(X_train, y_train)
val_accuracy = model.score(X_val, y_val)
test_accuracy = model.score(X_test, y_test)

# Plot
datasets = ['Train', 'Validation', 'Test']
accuracies = [train_accuracy, val_accuracy, test_accuracy]

plt.figure(figsize=(6,4))
plt.bar(datasets, accuracies, color=['blue', 'orange', 'green'])
plt.ylim(0,1)
plt.ylabel("Accuracy")
plt.title("Model Accuracy on Different Datasets")
plt.show()

In [ ]:
from sklearn.metrics import confusion_matrix
import seaborn as sns

# Predict on test
y_test_pred = model.predict(X_test)

cm = confusion_matrix(y_test, y_test_pred)

plt.figure(figsize=(5,4))
sns.heatmap(cm, annot=True, fmt="d", cmap="Blues")
plt.xlabel("Predicted")
plt.ylabel("Actual")
plt.title("Confusion Matrix (Test Set)")
plt.show()

In [ ]:
import pandas as pd

coef_df = pd.DataFrame({
    'Feature': X_train.columns,
    'Coefficient': model.coef_[0]
}).sort_values(by='Coefficient', ascending=False)

# Bar plot
plt.figure(figsize=(10,6))
sns.barplot(x='Coefficient', y='Feature', data=coef_df, palette='viridis')
plt.title("Feature Coefficients (Importance) in Logistic Regression")
plt.show()

In [ ]:
from sklearn.metrics import confusion_matrix
import seaborn as sns
import matplotlib.pyplot as plt

y_test_pred = model.predict(X_test)
cm = confusion_matrix(y_test, y_test_pred)

sns.heatmap(cm, annot=True, fmt='d', cmap='Blues')
plt.xlabel('Predicted')
plt.ylabel('Actual')
plt.title('Confusion Matrix (Test Set)')
plt.show()

In [ ]:
import pandas as pd

coef_df = pd.DataFrame({
    'Feature': X_train.columns,
    'Coefficient': model.coef_[0]
}).sort_values(by='Coefficient', ascending=False)

print(coef_df)

In [ ]:
from sklearn.metrics import log_loss

# Predict probabilities (not classes)
y_train_prob = model.predict_proba(X_train)[:, 1]
y_val_prob   = model.predict_proba(X_val)[:, 1]
y_test_prob  = model.predict_proba(X_test)[:, 1]

# Compute log loss
train_loss = log_loss(y_train, y_train_prob)
val_loss   = log_loss(y_val, y_val_prob)
test_loss  = log_loss(y_test, y_test_prob)

print("Training Log Loss   :", round(train_loss, 4))
print("Validation Log Loss :", round(val_loss, 4))
print("Test Log Loss       :", round(test_loss, 4))

In [ ]:
from xgboost import XGBClassifier

xgb_model = XGBClassifier(n_estimators=100, learning_rate=0.1, random_state=42)
xgb_model.fit(X_train, y_train)

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, log_loss

In [ ]:


models = {
    "Logistic Regression": LogisticRegression(penalty='l2', max_iter=1000),
    "Decision Tree": DecisionTreeClassifier(max_depth=5, random_state=42),
    "Random Forest": RandomForestClassifier(n_estimators=100, random_state=42),
    "XGBoost": XGBClassifier(n_estimators=100, learning_rate=0.1, use_label_encoder=False, eval_metric='logloss', random_state=42),
    "SVM": SVC(probability=True, kernel='rbf', random_state=42),
    "KNN": KNeighborsClassifier(n_neighbors=5)
}

In [ ]:
results = []

for name, model in models.items():
    model.fit(X_train, y_train)
    
    # Predict class
    y_train_pred = model.predict(X_train)
    y_val_pred   = model.predict(X_val)
    y_test_pred  = model.predict(X_test)
    
    # Predict probability for log loss
    y_train_prob = model.predict_proba(X_train)[:,1]
    y_val_prob   = model.predict_proba(X_val)[:,1]
    y_test_prob  = model.predict_proba(X_test)[:,1]
    
    # Metrics
    train_acc = accuracy_score(y_train, y_train_pred)
    val_acc   = accuracy_score(y_val, y_val_pred)
    test_acc  = accuracy_score(y_test, y_test_pred)
    
    train_loss = log_loss(y_train, y_train_prob)
    val_loss   = log_loss(y_val, y_val_prob)
    test_loss  = log_loss(y_test, y_test_prob)
    
    results.append({
        "Model": name,
        "Train Accuracy": round(train_acc,4),
        "Validation Accuracy": round(val_acc,4),
        "Test Accuracy": round(test_acc,4),
        "Train LogLoss": round(train_loss,4),
        "Validation LogLoss": round(val_loss,4),
        "Test LogLoss": round(test_loss,4)
    })

# Convert results to DataFrame
results_df = pd.DataFrame(results)
print(results_df)

In [ ]:
import matplotlib.pyplot as plt
import numpy as np

# Prepare data
models_list = results_df['Model']
train_acc = results_df['Train Accuracy']
val_acc = results_df['Validation Accuracy']
test_acc = results_df['Test Accuracy']

x = np.arange(len(models_list))  # the label locations
width = 0.25  # width of the bars

# Plot
fig, ax = plt.subplots(figsize=(12,6))
rects1 = ax.bar(x - width, train_acc, width, label='Train')
rects2 = ax.bar(x, val_acc, width, label='Validation')
rects3 = ax.bar(x + width, test_acc, width, label='Test')

# Labels and title
ax.set_ylabel('Accuracy')
ax.set_title('Train / Validation / Test Accuracy for Models')
ax.set_xticks(x)
ax.set_xticklabels(models_list, rotation=30)
ax.set_ylim(0, 1)
ax.legend()

# Add value labels on top of bars
def add_labels(rects):
    for rect in rects:
        height = rect.get_height()
        ax.annotate(f'{height:.2f}',
                    xy=(rect.get_x() + rect.get_width() / 2, height),
                    xytext=(0,3),  # offset
                    textcoords="offset points",
                    ha='center', va='bottom')

add_labels(rects1)
add_labels(rects2)
add_labels(rects3)

plt.tight_layout()
plt.show()

In [ ]:
test_predictions = model.predict(X_test)

In [ ]:
submission = pd.DataFrame({
    "PassengerId": test_df["PassengerId"],
    "Survived": test_predictions
})

submission.to_csv("submission.csv", index=False)
print("âœ… Submission file saved as submission.csv")